table#jobs td.nowrap
{
    white-space: nowrap;
}

table#jobs td
{
    padding: 3px;
    font-size: 13px;
}

table#jobs span.job_title
{
    font-size: 14px;
}

html#uploader, body#uploader, table#jobs th, #jobs.table.is-striped tbody, td.label {
    font-family: Arial,sans-serif;
    background-color: #181818;
    color: #D1D4C9;
}

#editjob_table td.label
{
    text-align: right;
}

#editjob_table td, th
{
    border: thin solid #121C1E;
    padding: 0 2px 0 2px;
    text-align: left;
}


body#uploader nav, body#uploader .navbar-item,  {
    background-color: #29435C;
    text: #161616;
}

table#jobs.table td, table#jobs.table th {
    border-color: #2f2e2e;
}

table#jobs.table.is-hoverable.is-striped tbody tr:not(.is-selected):hover {
    background-color: #252224;
}

table#jobs.table.is-striped tbody tr:not(.is-selected):nth-child(2n) {
    background-color: #101010;
}

table#jobs thead {
    border-bottom: 7px solid white;
}

table#jobs th::after, table#jobs th::before {
    color: #D1D4C9;
}

span.job_title, span.job_title a
{
    color: white;
    font-weight: bold;
}


table.jobs
{
    width: 100%;
}
