*
{
	margin: 0;
	padding: 0;
}

a, a:visited
{
	color: #859292;
	text-decoration: none;
}

body
{
	color: #859292;
	background-color: #020C0E;

	margin: 0 auto;  
	width: 940px;  
}

/* Tell the browser to render HTML 5 elements as block */  
header, section, nav
{
	display: block;  
} 

nav
{
	background-color: #000C0E;
}

nav ul li
{
	display: inline;
}

nav ul li a,
nav ul li a:visited
{
	color:#565656;
	font-size:1.25em;
	font-weight:bold;
	margin:5px 2px;
	padding:7px 10px 4px;
	text-transform:uppercase;
}

nav ul li a:hover
{
	background-color:#f0f0f0;
}

span.title, span.title a
{
	color: white;
	font-weight: bold;
}

table.jobs th
{
	background-color: #0F2127;
	text-align: center;
	border-bottom: 5px solid #0F2127;
}

table.jobs tr
{
} 

table.jobs td
{
	border-bottom: 1px solid #151D1F;
	padding-top: 5px;
	padding-bottom: 5px;
}