{% extends "layout.html" %}

{% block head %}
{% endblock %}

{% block body %}


	<form action="" enctype="multipart/form-data" method="post" id="upload_table">
		<table class="border" border="0" cellpadding="3" cellspacing="1">
			<tbody>
				<tr>
					<td class="label">Codec</td>
					<td>
						<select id="codec" name="codec" onchange="Codec()">
							<option>---</option>
								<option value="XviD">XviD</option>
								<option value="DivX">DivX</option>
								<option value="H.264">H.264</option>
								<option value="x264">x264</option>
								<option value="DVD5">DVD5</option>
								<option value="DVD9">DVD9</option>
								<option value="BD25">BD25</option>
								<option value="BD50">BD50</option>
								<option value="Other">Other</option>
						</select>
					</td>
				</tr>

				<tr>
					<td class="label">Container</td>
					<td>
						<select id="container" name="container" onchange="Container()">
							<option>---</option>
							<option value="AVI">AVI</option>
							<option value="MPG">MPG</option>
							<option value="MKV">MKV</option>
							<option value="MP4">MP4</option>
							<option value="VOB IFO">VOB IFO</option>
							<option value="ISO">ISO</option>
							<option value="m2ts">m2ts</option>
							<option value="Other">Other</option>
						</select>
					</td>
				</tr>

				<tr>
					<td class="label">Resolution</td>
					<td>
						<select id="resolution" name="resolution" onchange="Resolution()">
							<option selected="selected">---</option>
							<option value="NTSC">NTSC</option>
							<option value="PAL">PAL</option>
							<option value="480p">480p</option>
							<option value="576p">576p</option>
							<option value="720p">720p</option>
							<option value="1080i">1080i</option>
							<option value="1080p">1080p</option>
							<option value="Other">Other</option>
						</select>
					</td>
				</tr>

				<tr>
					<td class="label">Source</td>
					<td>
					<select name="source" id="source" onchange="Source();">
						<option>---</option>
						<option value="CAM">CAM</option>
						<option value="TC">TC</option>
						<option value="TS">TS</option>
						<option value="R5">R5</option>
						<option value="DVD-Screener">DVD-Screener</option>
						<option value="VHS">VHS</option>
						<option value="DVD">DVD</option>
						<option value="TV">TV</option>
						<option value="HDTV">HDTV</option>
						<option value="HD-DVD">HD-DVD</option>
						<option value="Blu-ray">Blu-ray</option>
						<option value="Other">Other</option>
					</select>
					</td>
				</tr>

				<tr id="imdb_tr">
					<td class="label">IMDb links</td>
					<td>
						<textarea name="imdb" id="imdb" cols="60" rows="8"></textarea>
					</td>
				</tr>

				<tr>
					<td colspan="2" style="text-align: center;">
						<br/>
						<br/>
						<input id="post" value="Check" type="submit">
					</td>
				</tr>
				
			</tbody>
		</table>
	</form>

{% endblock %}