{% block job_common_javascript %}

<script src="{{ url_for( "static", filename = "script/jquery-1.5.2.min.js" ) }}"></script>
<script src="{{ url_for( "static", filename = "script/jquery.multiSelect/jquery.multiSelect.js" ) }}"></script>
<link href="{{ url_for( "static", filename = "script/jquery.multiSelect/jquery.multiSelect.css" ) }}" rel="stylesheet" type="text/css" />

<script>
	$(function ()
	{
		// Select subtitles that are specified in the job.
		$( "#subtitle" ).val( {{ job.Subtitles|tojson|safe }} );
		
		$( "#subtitle" ).multiSelect(
		{
			selectAll: false,
			noneSelected: "Unspecified",
			oneOrMoreSelected: "% subtitle(s)",
			listHeight: 350
		} );

		// Add tags to the tags textbox when selection changes in the tags combobox.
		$( "#genre_tags" ).change( function()
		{
			var tagsField = $( "#tags" );
			var selectedTag = $( this ).val();

			if ( selectedTag != "---" )
			{
				var currentTags = tagsField.val();
				if ( currentTags.length > 0 )
				{
					// Do not add the tag twice.
					var tagList = currentTags.split( ", " );
					if ( tagList.indexOf( selectedTag ) == -1 )
						tagsField.val( currentTags + ", " + selectedTag );
				}
				else
				{
					tagsField.val( selectedTag );
				}
			}
		} );

		$( "#ConvertComparisonCode" ).click( function()
		{
			var releaseNotes = $( "#ReleaseNotes" );

			var text = releaseNotes.val().replace( /<b>/gi, "" );
			text = text.replace( /<\/b>/gi, "" );
			text = text.replace( /<br>/gi, "\n" );
			// E.g.: <a href="http://www.imagebam.com/image/50a6ce137826241" target="_blank"><img id="ncode_imageresizer_container_1" src="http://thumbnails43.imagebam.com/13783/50a6ce137826241.jpg" alt="" onload="NcodeImageResizer.createOn(this);" border="0"></a>
			text = text.replace( /<a.*?href="(.+?)".*?><img.*?src="(.+?)".*?><\/a>/gi, "[url=$1][img=$2][/url]" );

			releaseNotes.val( text );
		} );
	} );
</script>

{% endblock %}