{% extends "layout.html" %}

{% block head %}
{% endblock %}

{% block body %}
<table class="jobs" border="0" cellpadding="3" cellspacing="1">
	<tr>
		<th>Release name</th>
		<th>Source</th>
		<th>State</th>
		<th>Edit</th>
	</tr>

	<tbody>
		{% for entry in entries %}
			<tr>
				<td>
					{% if entry.StateIcon %}
						<img src={{ entry.StateIcon }}>
					{% endif %}
				
					<span class="title">
					{% if entry.PtpUrl %}
						<a href="{{ entry.PtpUrl }}">{{ entry.ReleaseName }}</a>
					{% else %}
						{{ entry.ReleaseName }}
					{% endif %}
					</span>

					{% if entry.ErrorMessage %}
						<br>
						{{ entry.ErrorMessage }}
					{% endif %}
				</td>
				<td>
					{% if entry.SourceIcon %}
						{% if entry.SourceUrl %}
							<a href="{{ entry.SourceUrl }}"><img src={{ entry.SourceIcon }}></a>
						{% else %}
							<img src={{ entry.SourceIcon }}>
						{% endif %}
					{% endif %}
				</td>
				<td>
					<a href="{{ entry.LogPageUrl }}">{{ entry.State }}</a>
				</td>
				<td>
					{% if entry.EditPageUrl %}
						<a href="{{ entry.EditPageUrl }}">Edit</a>
					{% endif %}
				</td>
			</tr>
		{% else %}
			<tr>
				<td>No entries.</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}