<!doctype html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="{{ url_for( "static", filename = "style.css" ) }}">
	</head>
	<body>
		<section>
			<header>
				<nav>
					<ul>
						<li><a href="{{ url_for( "index" ) }}">Jobs</a></li>
						<li><a href="{{ url_for( "upload" ) }}">Upload</a></li>
						<li><a href="#"></a></li>
						<li class="shutdown"><a href="{{ url_for( "quit" ) }}">Shutdown</a></li>
					</ul>
				</nav>
			</header>
			<section>
				{% block body %}{% endblock %}
			</section>
		</section>
	</body>
</html>