{% extends "layout.html" %}

{% load static %}

{% block head %}
  <title>{% if form.is_bound %}{{ form.ReleaseName.value }}{% else %}Upload{% endif %} - PtpUploader</title>
  <script src="{% static "script/jquery-3.6.0.min.js" %}"></script>
  <script src="{% static "script/select2.min.js" %}"></script>
  <link href="{% static "script/select2.min.css" %}" rel="stylesheet" type="text/css" />
  <link href="//cdn.jsdelivr.net/npm/jquery.fancytree@2.27/dist/skin-win8/ui.fancytree.min.css" rel="stylesheet">
  <script src="//cdn.jsdelivr.net/npm/jquery.fancytree@2.27/dist/jquery.fancytree-all-deps.min.js"></script>
  <script src="//code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.1/jquery.contextMenu.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.1/jquery.contextMenu.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.1/jquery.ui.position.js"></script>
  <script>
   function FinishSkipDuplicateCheckingAjaxCall(torrentId, uploadedAgo) {
     $("html").removeClass('busy');
     $("#SkipDuplicateCheckingButton").val(torrentId);
     $("#SkipDuplicateCheckingMessage").html(uploadedAgo);

     if (torrentId <= 0) {
       alert("Error!");
       $("#SkipDuplicateCheckingButton").attr("checked", false);
     }
   }

   $(function() {
     $(".show_images").click(function() {
       console.log("#" + $(this).data("target"));
       $("#" + $(this).data("target")).toggle();
       if ($(this).text() == "Show") {
         $(this).text("Hide");
       } else {
         $(this).text("Show");
       }
     });
     $("#id_Subtitles").select2({
       width: '80%'
     });
     $("#id_Tags").select2({
       width: '80%',
       placeholder: '---'
     });

     $("#ConvertComparisonCode").click(function() {
       var releaseNotes = $("#ReleaseNotes");

       var text = releaseNotes.val().replace(/<b>/gi, "");
       text = text.replace(/<\/b>/gi, "");
       text = text.replace(/<font.*?>/gi, "");
       text = text.replace(/<\/font>/gi, "");
       text = text.replace(/<br>/gi, "\n");
       text = text.replace(/&nbsp;/gi, " ");
       // E.g.: <a href="http://www.imagebam.com/image/50a6ce137826241" target="_blank"><img id="ncode_imageresizer_container_1" src="http://thumbnails43.imagebam.com/13783/50a6ce137826241.jpg" alt="" onload="NcodeImageResizer.createOn(this);" border="0"></a>
       text = text.replace(/<a.*?href="(.+?)".*?><img.*?src="(.+?)".*?>.*?<\/a>/gi, "[url=$1][img]$2[/img][/url]");

       releaseNotes.val(text);
     });

     // Skip duplicate checking
     $("#SkipDuplicateCheckingButton").click(function() {
       if ($(this).is(":checked")) {
         $("html").addClass('busy');

         $.ajax({
           type: "GET",
           url: "{% url "jobs_get_latest" %}",
           dataType: "json",
           data: {
             "PtpOrImdbLink": $("#imdb").val()
           },
           success: function(data) {
             if (data.Result == "OK")
               FinishSkipDuplicateCheckingAjaxCall(data.TorrentId, data.UploadedAgo);
             else
               FinishSkipDuplicateCheckingAjaxCall(0, "");
           },
           error: function() {
             FinishSkipDuplicateCheckingAjaxCall(0, "");
           }
         });
       } else {
         $("#SkipDuplicateCheckingMessage").html("");
       }
     });
     // Torrent file uploading.
     $('#DirectorySelectorToggle').click(function() {
       $.confirm({
         // theme: "material",
         title: "Select File",
         content: "<div id='tree'></div>",
         escape: true,
         useBootstrap: false,
         // boxWidth: 480,
         onContentReady: function(){
           $("#tree").fancytree({
             clickFolderMode: 4, // 1:activate, 2:expand, 3:activate and expand, 4:activate (dblclick expands
             debugLevel: 4, // 0:quiet, 1:errors, 2:warnings, 3:infos, 4:debug
             keyboard: false, // Support keyboard navigation
             selectMode: 1, // 1:single, 2:multi, 3:multi-hier
             tabindex: "", // Whole tree behaves as one single control
             source: {url: "/ajax/localdir/", cache: false},
             lazyLoad: function(event, data){
               var node = data.node;
               // Load child nodes via Ajax GET
               data.result = {
                 url: "/ajax/localdir",
                 data: {mode: "children", dir: node.key},
                 cache: false
               };
             },
             icon: function(event, data) {
               if (data.node.icon) { return 'static/'+data.node.icon+'.png'; }
             },
           });
         },
         onAction: function(btnName){
           var tree = $.ui.fancytree.getTree("#tree"),
               selNode = tree.getActiveNode();
           if( btnName === "ok" ) {
             $('#existingfile').val(selNode.key);
           }
         }
       });
     });

     // Do a quick naive check that a necessary field is filled
     $("#post").click(function(event) {
       if (!($("#torrent_site_link").val() || $("#existingfile").val() || $("#upload_field").val())) {
         alert("Select something to upload!");
         event.preventDefault();
       }
     });
   });
  </script>
{% endblock %}

{% block body %}
  {% if form.is_bound and not job.CanEdited %}
    <h2 style="color: red; font-weight: bold;">The job is currently running and can't be edited!</h2>
  {% endif %}

  <form action="" enctype="multipart/form-data" method="post" id="resume_table">
    {{ form.errors }}
    {% csrf_token %}
    <table id="editjob_table" class="border" border="0" cellpadding="3" cellspacing="1">
      <tbody>
        {% if form.is_bound %}
          <tr>
            <td class="label">Release name</td>
            <td>
              {{ form.ReleaseName }}
              {% if job.IsReleaseNameEditable %}
                <input id="release_name" name="release_name" size="60" type="text" value="{{ job.ReleaseName }}" title="The specified release name will be the name of the directory in the torrent uploaded to PTP. (Not supported yet on CG.)"/>
              {% else %}
                {{ job.ReleaseName }}
              {% endif %}
            </td>
          </tr>
          <tr>
            <td class="label">Release source</td>
            <td>
              {% if job.SourceIcon %}
                {% if job.SourceUrl %}
                  <a href="{{ job.SourceUrl }}" {{ settings.OpenJobPageLinksInNewTab|safe }}><img src={{ job.SourceIcon }}></a>
                {% else %}
                  <img src={{ job.SourceIcon }}/>
                {% endif %}
              {% endif %}
            </td>
          </tr>
        {% else %}
          <tr>
            <td class="label">Upload a torrent file</td>
            <td>
              <input type="file" id="uploaded_torrent" name="uploaded_torrent" accept="application/x-bittorrent" title="You have to specify an IMDB or PTP link too."/>
            </td>
          </tr>
          <tr>
            <td class="label">Or specify a torrent page link</td>
            <td>
              <input id="torrent_site_link" name="torrent_site_link" size="60" type="text">
            </td>
          </tr>
          <tr>
            <td class="label">Or select an existing file or folder</td>
            <td>
              <input id="existingfile" name="existingfile_input" size="60" title="Path of the directory or the file to upload.">
              <input type="button" id="DirectorySelectorToggle" value="Browse..." title="Directory selector.">
            </td>
          </tr>
          <tr>
            <td class="label">Release name</td>
            <td>
              <input id="release_name" name="release_name" size="60" type="text" title="The specified release name will be the name of the directory in the torrent uploaded to PTP. (Not supported yet on CG.)">
            </td>
          </tr>
        {% endif %}

        {% include "job_common.html" %}

        {% if form.is_bound %}
          {% if job.CanEdited %}
            <tr>
              <td colspan="2" style="text-align: center; border: none;">
                <br/><br/>
                <input id="post" name="post" type="submit" value="Resume">
                <input id="post" name="post_stop_before" type="submit" value="Resume but stop before uploading" title="The job will be stopped after everything has completed and the only remaining thing to do is the uploading to PTP.">
                <br/><br/><br/>
              </td>
            </tr>
          {% endif %}
        {% else %}
          <tr>
            <td colspan="2" style="text-align: center; border: none;">
              <br/><br/>
              <input id="post" name="post" type="submit" value="Upload">
              <input id="post" name="post_stop_before" type="submit" value="Upload but stop before uploading" title="The job will be stopped after everything has completed and the only remaining thing to do is the uploading to PTP.">
              <br/><br/><br/>
            </td>
          </tr>

        {% endif %}
      </tbody>
    </table>
  </form>

  {% include "job_common_javascript.html" %}
{% endblock %}
