{% load static %}

{% block job_common %}

  <input id="JobId" name="JobId" type="hidden" value="{{ job.JobId }}">

  <tr>
    <td class="label">Included files</td>
    <td>
      <input type="button" id="IncludedFilesToggle" value="Select">
      <input id="IncludedFilesCustomizedList" name="IncludedFilesCustomizedList" type="hidden" value="{{ job.IncludedFilesCustomizedList }}">
      <div id="IncludedFilesDialog">
        <div id="IncludedFilesTree"></div>
      </div>
    </td>
  </tr>

  <tr>
    <td class="label">Make torrent without directory</td>
    <td>
      <input id="ForceDirectorylessSingleFileTorrent" name="ForceDirectorylessSingleFileTorrent" type="checkbox" title="If this is set and the release contains only a single video file then no directory will be created."

	     {% if job.ForceDirectorylessSingleFileTorrent %}
	     checked
	     {% endif %}
      >
    </td>
  </tr>

  <tr>
    <td class="label">Type</td>
    <td>
      {{ form.Type }}
    </td>
  </tr>

  <tr id="imdb_tr">
    <td class="label">IMDb or PTP link</td>
    <td>
      {{ form.ImdbId }}
      <input id="imdb" name="imdb" size="60" value="{{ job.imdb }}" type="text" title="Enter - or 0 if the movie is not on IMDb.">
      {% if job.PtpUrl %}
        <a href="{{ job.PtpUrl }}" target="_blank"><img src="{% static "ptp.ico" %}" title="Movie page on PTP" style="vertical-align: middle"></a>
      {% endif %}
    </td>
  </tr>

  <tr id="artist_tr">
    <td class="label">Director(s)</td>
    <td id="artistfields">
      {{ form.Directors }}
    </td>
  </tr>

  <tr id="title_tr">
    <td class="label">Movie title:</td>
    <td>
      {{ form.Title }}
    </td>
  </tr>

  <tr id="year_tr">
    <td class="label">
      <span id="year_label_not_remaster">Year</span>
    </td>
    <td>
      {{ form.Year }}
    </td>
  </tr>

  <tr id="coverart_tr">
    <td class="label">Cover Art Image</td>
    <td>
      {{ form.CoverArtUrl }}
    </td>
  </tr>

  <tr>
    <td class="label">YouTube link</td>
    <td>
      {{ form.YouTubeId }}
    </td>
  </tr>

  <tr>
    <td class="label">Special release title</td>
    <td>
      {{ form.RemasterTitle }}
    </td>
  </tr>

  <tr>
    <td class="label">Special release year</td>
    <td>
      {{ form.RemasterYear }}
    </td>
  </tr>

  <tr>
    <td class="label">Personal rip</td>
    <td>
      {{ form.PersonalRip }}
    </td>
  </tr>

  <tr>
    <td class="label">Scene</td>
    <td>
      {{ form.SceneRelease }}
    </td>
  </tr>

  <tr>
    <td class="label">Special release (not main movie)</td>
    <td>
      {{ form.SpecialRelease}}
    </td>
  </tr>

  <tr>
    <td class="label">Codec</td>
    <td>
      {{ form.Codec }}
      <span id="other_codec_span">
        <input name="other_codec" size="5" id="other_codec" type="text">
      </span>
    </td>
  </tr>

  <tr>
    <td class="label">Container</td>
    <td>
      {{ form.Container }}
      <span id="other_container_span">
        <input name="other_container" size="5" id="other_container" type="text">
      </span>
    </td>
  </tr>

  <tr>
    <td class="label">Resolution</td>
    <td>
      {{ form.ResolutionType }}
      <span id="other_resolution_span">
        <input name="other_resolution" size="10" id="other_resolution" value="{{ job.other_resolution }}" type="text">
      </span>
    </td>
  </tr>

  <tr>
    <td class="label">Source</td>
    <td>
      {{ form.Source }}
      <span id="other_source_span">
        <input name="other_source" size="5" id="other_source" type="text">
      </span>
    </td>
  </tr>

  <tr>
    <td class="label">Subtitle</td>
    <td class="dark-select2">
      {{ form.Subtitles }}
    </td>
  </tr>
  <tr>
    <td class="label">
      Trumpable
    </td>
    <td>
      <input id="TrumpableForNoEnglishSubtitles" name="TrumpableForNoEnglishSubtitles" type="checkbox"
	     {% if job.TrumpableForNoEnglishSubtitles %}
	     checked
	     {% endif %}
      >
      <label for="TrumpableForNoEnglishSubtitles">Trumpable for no English subtitles</label>
      <br/>
      <input id="TrumpableForHardcodedSubtitles" name="TrumpableForHardcodedSubtitles" type="checkbox"
	     {% if job.TrumpableForHardcodedSubtitles %}
	     checked
	     {% endif %}
      >
      <label for="TrumpableForHardcodedSubtitles">Trumpable for hard-coded subtitles</label>
    </td>
  </tr>

  <tr>
    <td class="label">Tags</td>
    <td>
      {{ form.Tags }}
    </td>
  </tr>

  <tr>
    <td class="label">Synopsis</td>
    <td>
      <textarea name="album_desc" id="album_desc" cols="60" rows="8">{{ job.album_desc }}</textarea>
    </td>
  </tr>
  {% if job.Screenshots %}
    <tr>
      <td class="label">Screenshots</td>
      <td>
        {% for file, links in job.Screenshots.items %}
          <button type="button" data-target="{{forloop.counter0}}_images" class="show_images">Show</button>{{file}}<span id="{{forloop.counter0}}_images" style="display:none;">{{links|safe}}</span>
        {% endfor %}
      </td>
    </tr>
  {% endif %}
  <tr>
    <td class="label">Release Description
      <br>
      <br>
      <input type="button" id="ConvertComparisonCode" value="Convert comparison code" title="You can convert HTML source of an image comparison (obtained by View selection source and copy&paste) to BBCode.">
      <br>
      <br>
      <label title="If checked then screens won't be taken, the ones listed in the release notes will be used.">
        <input type="checkbox" name="OverrideScreenshots"
	       {% if job.OverrideScreenshots %}
	       checked
	       {% endif %}
        > Override screens
      </label>
    </td>
    <td>
      <textarea name="ReleaseNotes" id="ReleaseNotes" cols="60" rows="8">{{ job.ReleaseNotes }}</textarea>
    </td>
  </tr>

  <tr>
    <td class="label">Checking</td>
    <td>
      <input id="force_upload" name="force_upload" type="checkbox"
	     {% if job.force_upload %}
	     checked
	     {% endif %}
      >
      <label for="force_upload">Skip adult tag, series checking and rip specification checking</label>
      <br>
      <input type="checkbox" id="SkipDuplicateCheckingButton" name="SkipDuplicateCheckingButton" value="{{ job.SkipDuplicateCheckingButton }}" title="The existing torrents (at the time of the button press) will be ignored at the duplicate checking."
	     {% if job.SkipDuplicateCheckingButton > 0 %}
             checked
             {% endif %}
      >
      <label for="SkipDuplicateCheckingButton">Skip duplicate checking</label>
      <span id="SkipDuplicateCheckingMessage"></span>
    </td>
  </tr>

  <tr>
    <td class="label">Start immediately</td>
    <td>
      <input id="StartImmediately" name="StartImmediately" type="checkbox" title="If this is set then the job will be the next processed job and the download will start regardless the number of maximum parallel downloads set for the source."

	     {% if job.StartImmediately %}
	     checked
	     {% endif %}
      >
    </td>
  </tr>

{% endblock %}
