{% extends "layout.html" %}

{% load static %}

{% block head %}
  <title>PtpUploader - Jobs</title>
  <script type=text/javascript src="{% static "script/jquery-3.6.0.min.js" %}"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.1/jquery.contextMenu.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.1/jquery.contextMenu.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.1/jquery.ui.position.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.2/css/bulma.min.css"/>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bm/dt-1.11.3/datatables.min.css"/>
  <script type="text/javascript" src="https://cdn.datatables.net/v/bm/dt-1.11.3/datatables.min.js"></script>
  <script src="{% static "script/select2.min.js" %}"></script>
  <link href="{% static "script/select2.min.css" %}" rel="stylesheet" type="text/css" />
  <script type="text/javascript">
   var jobsTable;

   function ToggleSearch(searchToggler) {
     if (!window.localStorage)
       return;

     if (window.localStorage.getItem('HideSearch') == '1') {
       $(".ToggledByHideSearch").toggle(true);
       window.localStorage.removeItem('HideSearch');
     } else {
       $(".ToggledByHideSearch").toggle(false);
       window.localStorage.setItem('HideSearch', '1');
     }
   }

   function executeJobCommand(linkNode, jobId, jobCommand) {
     $.ajax({
       type: "GET",
       url: "/job/" + jobId + jobCommand,
       context: linkNode,
       success: function(msg) {
         $(this).text(msg);
         if (msg == "OK")
           $(this).fadeOut("slow");
       }
     });
   }

   function executeDeleteJobCommand(linkNode, jobId, deleteMode) {
     $.ajax({
       type: "GET",
       url: "/job/" + jobId + '/delete/' + deleteMode,
       context: linkNode,
       success: function(msg) {
         if (msg == "OK")
           $(this).parent().parent().fadeOut("fast");
         else
           $(this).text(msg);
       }
     });
   }


   $(document).ready(function() {
     $("#state_filter").select2();
     jobsTable = $('#jobs').DataTable({
       "pageLength": 50,
       "ajax": "/ajax/jobs",
       "lengthChange": false,
       "order": [
         [4, "desc"]
       ],
       "searchBuilder": {
         "columns": [2]
       },
       "columns": [{
         "data": "JobRunningState",
         "type": "num",
         "render": {
           _: '_',
           sort: 'sort',
         },
         className: "dt-right"
       }, {
         "data": "ReleaseName",
         "render": function(data, type, row) {
           ret = data;
           if (row['PtpId']) {
             if (row['PtpTorrentId']) {
               ret = '<a href="https://passthepopcorn.me/torrents.php?id=' + row['PtpId'] + '&torrentid=' + row['PtpTorrentId'] + '">' + data + '</a>'
             } else {
               ret = '<a href="https://passthepopcorn.me/torrents.php?id=' + row['PtpId'] + '">' + data + '</a>'
             }
           } else if (row['ImdbId'] && row['ImdbId'] != "0") {
             ret = '<a href="https://passthepopcorn.me/torrents.php?imdb=' + row['ImdbId'] + '">' + data + '</a>'
           }
           ret = '<span class="job_title">' + ret + '</span>';
           if (row['ErrorMessage']) {
             ret = ret + '</br>' + row['ErrorMessage'];
           }
           return ret;
         }
       },{
         "data": "AnnouncementSourceName",
         'type': 'html',
         className: "nowrap",
         "render": {
           _: '_',
           sort: 'sort'
         }
       },{
         "data": "Size",
         'type': 'num',
         className: "nowrap",
         "render": {
           _: '_',
           sort: 'sort'
         }
       },{
         "data": "LastModificationTime",
         'type': 'num',
         className: "nowrap",
         "render": {
           _: '_',
           sort: 'sort'
         }
       },{
         "data": "Actions",
         "orderable": false,
         className: "nowrap jobbuttons dt-right",
         width: "60px",
         "render": function(data, type, row) {
           html = '';
           actions = data.split(",");
           if (actions.includes("start")) {
             html += '<a href="#" onclick=\'executeJobCommand( this, ' + row['Id'] + ', "/start" ); jobsTable.ajax.reload(null, false); return false;\'><span class="icon is-small"><i class="fas fa-play-circle"></i></span></a>'
           }
           if (actions.includes("stop")) {
             html += '<a href="#" onclick=\'executeJobCommand( this, ' + row['Id'] + ', "/stop" ); jobsTable.ajax.reload(null, false); return false;\'><span class="icon is-small"><i class="fas fa-stop-circle"></i></span></a>'
           }
           if (actions.includes("edit")) {
             html += '<a href="/edit/' + row['Id'] + '"><span class="icon"><i class="fas fa-edit"></i></span></a>';
           }
           if (actions.includes("delete")) {
             html += '<a href="#" class="delete_job_context_menu" PtpUploaderJobId="' + row['Id'] + '"><span class="icon is-small"><i class="fas fa-trash has-text-danger"></i></span></a>';
           }
           return html;
         }
       },
       ]
     });
     $.contextMenu({
       selector: '.delete_job_context_menu',
       trigger: 'left',
       callback: function(key, options) {
         var deleteLink = options.$trigger;
         var jobId = deleteLink.attr('PtpUploaderJobId');
         if (jobId.length > 0) {
           executeDeleteJobCommand(deleteLink, jobId, key);
         }
       },
       items: {
         "job": {
           name: "Delete job"
         },
         "job_source": {
           name: "Delete job & source data"
         },
         "job_upload": {
           name: "Delete job & upload data"
         },
         "job_all": {
           name: "Delete job & all data"
         },
       }
     });
   });
  </script>
{% endblock %}

{% block body %}
  <div class="column dt-bulma is-10 is-offset-1">
    <div class="columns">
      <div class="column is-half">
        <select multiple=multiple class="select2" id="state_filter">
          {% for key, val in state %}
            <option value="{{key}}">{{val}}</option>
          {% endfor %}
        </select>
      </div>
      <div class="column is-half">test2</div>
    </div>
    <table id="jobs" class="jobs table is-hoverable is-striped
               is-fullwidth" border="0" cellpadding="3" cellspacing="1">
      <thead>
        <tr>
          <th class="state"></th>
          <th>Release name</th>
          <th>Source</th>
          <th>Size</th>
          <th>Date</th>
          <th>Edit</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="state">
          </td>
          <td class="name">
          </td>
          <td class="nowrap">
          </td>
          <td class="nowrap">
          </td>
          <td class="nowrap">
          </td>
          <td class="nowrap jobbuttons dt-right">
          </td>
        </tr>
      </tbody>
    </table>
  </div>
{% endblock %}
