{% load static %}
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static "normalize.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "style.css" %}">
    <link rel="shortcut icon" href="{% static "favicon.png" %}">
    {% block head %}
    {% endblock %}
  </head>
  <body>
    <section>
      <header>
	<nav>
	  <ul>
	    <li><a href="{% url "jobs" %}">Jobs</a></li>
	    <li><a href="{% url "upload" %}">Upload</a></li>
	    <li><a href="{% url "movieAvailabilityCheck" %}">Availability check</a></li>
	    <li><a href="{% url "quit" %}">Shutdown</a></li>
	  </ul>
	</nav>
      </header>
      <section>
	{% block body %}
	{% endblock %}
      </section>
    </section>
  </body>
</html>
