{% load static %}
<!doctype html>
<html id="uploader">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{% static "favicon.png" %}">
    <link rel="stylesheet" type="text/css" href="{% static "normalize.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "style.css" %}">
    <script defer type="text/javascript" src="{% static "script/fontawesome.all.min.js" %}"></script>
    {% block head %}
    {% endblock %}
  </head>
  <body class="uploader" id="uploader">
    <header>
      <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="/jobs">
            <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
          </a>

          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start">
	    <a class="navbar-item" href="{% url "jobs" %}">Jobs</a>
	    <a class="navbar-item" href="{% url "upload" %}">Upload</a>
	    <a class="navbar-item" href="{% url "movieAvailabilityCheck" %}">Availability check</a>
	    <a class="navbar-item" href="{% url "quit" %}">Shutdown</a>
          </div>
        </div>
      </nav>
      <nav>
	<ul>
	</ul>
      </nav>
    </header>
    <!-- <section class="section"> -->
    <div class="container">
      {% block body %}
      {% endblock %}
    </div>
    <!-- </section> -->
  </body>
</html>
